.reset_btn {
    border: none;
    border-radius: 2px;
    padding: 5px 17px;
    background-color: aqua;
    margin-top: 17px;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}